.LogoSlider {
  margin-top: 10%;
  margin-bottom: 10%;
  contain: content;
  align-items: center;
}
.slider {
  max-width: 90%;
}
.slider_inner div {
  width: 16.666%;
  height: 7vw;
}
.nytSpecial {
  padding-right: 3vw;
}
.slider_inner p {
  color: black;
}

.slider_inner {
  min-width: 100vw;
  display: flex;
}

.l_to_r .slider_inner:first-of-type {
  animation: loop 40s -40s linear infinite;
}
.l_to_r .slider_inner:last-of-type {
  animation: loop2 40s linear infinite;
}

.l_to_r .slider_inner:nth-of-type(2) {
  margin-top: -7vw;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
